.cds-container {
    @include flex(row, center, center, wrap, unset);
    padding: 100px 0;
    .cd {
        @include flex(column, flex-start, center, nowrap, calc((100% - 120px) / 3));
        padding: 20px;
        margin: 0 20px 40px 20px;
        height: 360px;
        background: $navbarCardColor;
        text-align: center;
        &:hover{
            transform: scale(1.10);
            transition: 0.2s;

        }
        img {
            max-width: 100%;
            color: #5ed2b3;
        }
        h3 {
            margin: 20px 0;
            color: white;
            font-size: 22px;
            text-transform: uppercase;
        }
        span.author {
            color: grey;
            font-size: 20px;
        }
        span.year {
            color: grey;
        }
    }

}
